php_value auto_prepend_file /var/www/api.aftaa.ru/auto_prepend_file.php
php_value auto_append_file /var/www/api.aftaa.ru/auto_append_file.php

Options -Indexes

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php
